.possibilities {
  margin-top: 265px;
  position: relative;
  z-index: 1;

  @include for-tablet {
    margin-top: 140px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: $white;
    text-align: center;
    padding: 0 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    margin-top: 43px;
    padding: 0 20px;

    @include for-tablet {
      margin-top: 74px;
      gap: 34px;
    }
  }

  &__list-item {
    width: 360px;
    text-align: center;

    @include for-phone-only {
      width: 100%;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  &__item-header {
    font-family: $second-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 24px;

    @include for-tablet {
      margin-bottom: 20px;
    }
  }
}
