//colors HEX
$white: #ffffff;
$main-dark: #201f1f;

$common-color: #201f1f;
// Fonts
$common-font: 'Inter', sans-serif;
$second-font: 'Lora', sans-serif;

//container
$width-container: 1440px;

//header
$header-padding: 20px;
